html, body {
    background-color: white;
    color: black;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Centers text inside */
}
